* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: lores-12, sans-serif;
    font-weight: 700;
    font-style: normal;
    background-image: url(img/windows-logo.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    overflow: hidden;
}

mark {
    background-color: black;
    color: white;
}
.icons {
    position: absolute;
    padding: 30px;
    text-align: center;
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    margin-bottom: 60px;
}

.folders {
    position: relative;
}

.window { /* rename to folder */
    position: absolute;
    background: white;
    border: 3px solid #707070;
    width: 780px;
    height: 600px; 
    display: none; 
}

.hidden-projects {
    top: -300px;
    left: -390px;
}

.hidden-skills {
    top: -260px;
    left: -360px;
    display: block;
}

.hidden-about-me {
    left: 50.5px;
    top: -396px;
    height: 550px;
    
}

.hidden-music {
    left: 434px;
    top: 198px;
    height: 200px;
    width: 400px;
    
}


.hidden-email {
    left: -327px;
    top: -219px;
}

.page-title {
    padding: 3px 16px;
    background: #f1f1f1;
    position: relative;
}

.close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    padding: 0 3px;
    cursor: pointer;
    outline: 2px solid #000000;
    background: #C0C0C0;
    border-width: 2px;
    border-style: solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
}

.close:active {
    background-color: rgb(233, 233, 233);
    border-color: #808080 #FFFFFF #FFFFFF #c0c0c0;
}

footer {
    position: absolute;
    z-index: 999;
    display: flex;
    width: 100%;
    height: 60px;
    bottom: 0%;
    border-top: 3px solid #000000;
    background: #A2A2A2;
}

.social-media a{
    margin: auto; 
    padding: 1rem;
    text-decoration: none;
    color: black;
}

copyright {
    margin: auto;
}

#timer {
    position: absolute;
    border: 3px solid #000000;
    background: #f1f1f1;
    right: 0%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

.fed-folders {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    text-align: center;
}

.icon {
    cursor: pointer;
}

.fed-content {
    left: -307px; 
    top: -203px;
}

.ux-content {
    left: -356px;
    top: -248px;
}

.mp-content{
    left: -307px; 
    top: -203px;
}

.content{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    text-align: center;
}


/* music player */
.display  {
    border: 2px solid black;
    margin: 20px 40px;
    text-align: center;
    height: 20px;
    cursor: pointer;
}

.progress {
    background-color: green;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.btn-group {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

.btn-action {
    cursor: pointer;
}

.playlist {
    margin: 20px 0;
}

.song {
    display: flex;
    justify-content: space-around;
    border: 2px black solid;
    margin: 10px;
    align-items: center;
}

/* about me */
.cv {
    margin: 20px 60px;
    overflow: scroll;
    height: 435px;
}

.intro  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about-me-title {
    text-align: left;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* email me*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

    font-family: lores-12, sans-serif;
    outline: 1px solid #000000;
    border-width: 3px;
    border-style: solid;
    border-color: #808080 #FFFFFF #FFFFFF #c0c0c0;

}
  
input[type=submit] {
    font-family: lores-12, sans-serif;
    outline:1px solid #000000;
    background:#C0C0C0;
    border-width:2px;
    border-style:solid;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding:10px 15px;
    margin:5px 0;
}
  
input[type=submit]:active {
    background-color: rgb(233, 233, 233);
    border-color: #808080 #FFFFFF #FFFFFF #c0c0c0;
}

input[type=submit]:hover {
    /* border-color:#FFFFFF #000000 #000000 #FFFFFF;  */
    cursor: pointer;
}
  
.container {
    border-radius: 5px;
    padding: 20px;
}

#message {
    height: 160px;
}

/* my tools */
.skill-list{
    margin: 50px 0;
}

.skill-set {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}

.show-skill {
    overflow: scroll;
    height: 350px;
    width: 410px;
    outline:2px solid #000000;
    background-color: #ececec;
    border-width:3px;
    border-style:solid;
    border-color: #808080 #FFFFFF #FFFFFF #c0c0c0;
    padding:10px 15px;
    margin:5px 0;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.skill-item {
    height: 200px;
    width: 170px;
}

#skill-btn {
    display: flex;
    flex-direction: column;
}

.btn {
    font-family: lores-12, sans-serif;
    margin: 15px 0;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    outline: 2px solid #000000;
    background: #C0C0C0;
    border-width: 2px;
    border-style: solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    transition: 0.05s linear;
}
  
  /* Style the active class, and buttons on mouse-over */
  .active {
    background-color: rgb(233, 233, 233);
    border-color: #808080 #FFFFFF #FFFFFF #c0c0c0;
}

.ux-skills {
    display: none;
}

.fed-skills {
    display: none;
}

.other-skills {
    display: none;
}
